---
layout: home
title: Home
---


    <section class="solutions-section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-solucoes">
              <h1>Ofereça a melhor experiência de home office aos seus colaboradores com  a inovação da Senior</h1>

              <p> Home office é sinônimo de transformação de rotina e adaptação. Para enfrentar os desafios da distância, conte com a inovação para proporcionar a melhor experiência de trabalho remoto aos seus colaboradores. <strong>Diminua as distâncias e mantenha sua equipe engajada e produtiva com as soluções de Gestão de Pessoas da Senior.</strong></p>
            </div>
          </div>
        </div>
      </div>

      <div class="container d-lg-none" style="text-align:center;">
        <div class="row">
          <div class="col-12">
            <br>
            <span class="line"></span>
          </div>
        </div>
      </div>

      <div class="explore-solutions-content">
        <div class="container d-none d-lg-block">
          <div class="row align-items-center">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                <h2>Qual é <br> o seu desafio?</h2>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                <div class="solution-box_icon border-radius-13 active">
                    <a href="#" id="pesquisa" class="link-tab"></a>
                    <i class="icon icon_search-weather"></i>
                    <p>Motivar e engajar Equipe</p>
                </div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                <div class="solution-box_icon border-radius-13">
                    <a href="#" id="ponto_online" class="link-tab"></a>
                    <i class="icon icon_online-points"></i>
                    <p>Flexibilizar o Controle de Jornada</p>
                </div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                <div class="solution-box_icon border-radius-13">
                    <a href="#" id="admissao_digital" class="link-tab"></a>
                    <i class="icon icon_digital-approval"></i>
                    <p>Agilizar o processo de admissão</p>
                </div>
            </div>
          </div>
        </div>

        <div class="content-box-tabs d-none d-lg-block">
            <div class="container pesquisa container-box-tabs-info box-shadow border-radius-13 pt-40 active">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                        <h3>Motivar <br> e engajar Equipe</h3>
                    </div>

                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 border-radius-left-gray">
                        <h4>Valorize e engaje pessoas com o <span style="color: #8E34AB;">Moods</span></h4>
                        <p>Aplique pesquisas para medir o clima organizacional em um pequeno espaço de tempo, <strong>identifique os gaps de melhoria</strong> e tome decisões baseadas em dados. </p>
                        <a href="#" class="btn--primary">Saiba mais</a>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                        <img src="{{ site.baseurl}}/assets/img/icons/graphs.png" alt="Imagem Ícone Valorize e engaje pessoas com o Moods.">
                    </div>
                </div>
            </div>

            <div class="container ponto_online container-box-tabs-info box-shadow border-radius-13 pt-40">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                        <h3>Flexibilizar<br> o Controle de Jornada</h3>
                    </div>

                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 border-radius-left-gray">
                        <h4>Monitore a jornada da sua equipe com o <span style="color: #8E34AB;">Ponto Online</span></h4>
                        <p>Gerencie as jornadas de trabalho à distância com segurança, precisão e muito mais produtividade. O app de ponto eletrônico da Senior <strong>permite que o colaborador acesse de onde estiver, pelo celular, tablet ou pela web para bater ou controlar os pontos</strong>.</p>
                        <a href="#" class="btn--primary">Saiba mais</a>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                        <img src="{{ site.baseurl}}/assets/img/icons/phone.png" alt="Imagem Ícone Flexibilizar o controle de jornada.">
                    </div>
                </div>
            </div>

            <div class="container admissao_digital container-box-tabs-info box-shadow border-radius-13 pt-40">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                        <h3>Agilizar<br> o processo de admissão</h3>
                    </div>

                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 border-radius-left-gray">
                        <h4>Conheça a <span style="color: #8E34AB;">Colabbe</span>, o processo de admissão digital da Senior</h4>
                        <p>Algumas contratações não podem esperar.  A Colabbe digitaliza todo o <strong>processo de admissão para que seu novo colaborador faça tudo de casa, facilitando o processo de admissão à distância</strong>. Agilize o processo de admissão e proporcione uma experiência incrível para seus novos colaboradores. </p>
                        <a href="#" class="btn--primary">Saiba mais</a>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                        <img src="{{ site.baseurl}}/assets/img/icons/id.png" alt="Imagem Ícone Agilizar o processo de admissão.">
                    </div>
                </div>
            </div>
        </div>

        <div class="mobile-solutions-content d-lg-none">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2>Qual é o seu desafio?</h2>

                <div class="box-mobile-solucoes">
                    <h3>Motivar e engajar Equipe</h3>
                    <h4>Valorize e engaje pessoas com o Moods</h4>

                    <p>Aplique pesquisas para medir o clima organizacional em um pequeno espaço de tempo, <strong>identifique os gaps de melhoria</strong> e tome decisões baseadas em dados. </p>    
                </div>

                <div class="box-mobile-solucoes">
                    <h3>Flexibilizar<br> o Controle de Jornada</h3>
                    <h4>Monitore a jornada da sua equipe com o Ponto Online</h4>

                    <p>Gerencie as jornadas de trabalho à distância com segurança, precisão e muito mais produtividade. O app de ponto eletrônico da Senior <strong>permite que o colaborador acesse de onde estiver, pelo celular, tablet ou pela web para bater ou controlar os pontos</strong>.</p>    
                </div>

                <div class="box-mobile-solucoes">
                    <h3>Melhorar<br> a Comunicação Interna</h3>
                    <h4>Mantenha sua equipe conectada com a rede social corporativa SocialBase</h4>

                    <p>A SocialBase oferece recursos de compartilhamento que permitem a <strong>interação e troca de informação entre os profissionais</strong>,  incentivando o alinhamento e a atuação estratégica das equipes.</p>    
                </div>

                <div class="box-mobile-solucoes">
                    <h3>Agilizar<br> o processo de admissão</h3>
                    <h4>Conheça a Colabbe, o processo de admissão digital da Senior</h4>

                    <p>Algumas contratações não podem esperar.  A Colabbe digitaliza todo o <strong>processo de admissão para que seu novo colaborador faça tudo de casa, facilitando o processo de admissão à distância</strong>. Agilize o processo de admissão e proporcione uma experiência incrível para seus novos colaboradores. </p>    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container d-none d-lg-block" style="text-align:center;">
      <div class="row">
        <div class="col-12">
            <span class="line"></span>
        </div>
      </div>
    </div>

    <section class="advantages-section">
        <span class="dots_img"></span>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
              <h2>Conheça as vantagens</h2>
              <p>Contrate agora as soluções que irão descomplicar a gestão do RH à distância.</p>
            </div>

            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 d-none d-lg-block">
              <a href="#" class="btn--deal">CONTRATAR AGORA</a>
            </div>
          </div>
        </div>

        <div class="advantages_content-icons">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <img src="{{ site.baseurl}}/assets/img/icons/availability.png" alt="imagem Ícone Disponibilidade">
                <h3>Disponibilidade</h3>
                <p>Potencialize o desempenho das equipes com tecnologias que possibilitam a autonomia.</p>
              </div>

              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <img class="icon-engajamento" src="{{ site.baseurl}}/assets/img/icons/commitment.png" alt="imagem Ícone Engajamento">
                <h3>Engajamento</h3>
                <p>Saiba o que os seus colaboradores estão pensando com soluções que potencializam a transparência.</p>
              </div>
            </div>
          </div>

          <div class="container mt-40">
            <div class="row align-items-center">
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <img src="{{ site.baseurl}}/assets/img/icons/security.png" alt="imagem Ícone Segurança">
                <h3>Segurança</h3>
                <p>Tenha a segurança das equipes como prioridade.</p>
              </div>

              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <img class="icon-produtividades" src="{{ site.baseurl}}/assets/img/icons/productivity.png" alt="imagem Ícone Produtividade">
                <h3>Produtividade</h3>
                <p>Inovação para proporcionar a melhor experiência de trabalho remoto aos seus colaboradores.</p>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-12 d-lg-none">
                <a href="#" class="btn--deal">CONTRATAR AGORA</a>
              </div>
            </div>
          </div>
        </div>
    </section>
