<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <meta http-equiv='x-ua-compatible' content='ie=edge'>

  <title>
  {% if page.title %}
    {{ page.title }} - {{ site.title }}
  {% else %}
    {{ site.title }}
  {% endif %}
  </title>

  <link rel='shortcut icon'
        type='image/x-icon' 
        href='{{ site.baseurl}}/assets/img/favicon.png' >

    <link rel="stylesheet" href="{{ site.baseurl}}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl}}/assets/css/typekit.css">
    
    <link rel="stylesheet" href="{{ site.baseurl}}/assets/css/screen.css">
    <link rel="stylesheet" href="{{ site.baseurl}}/assets/css/responsive.css"> 
</head>
