@media screen and (max-width: 1796px) {
  .advantages-section .dots_img {
    max-width: 780px;
    height: 500px;
  }
}
@media screen and (max-width: 1520px) {
  .advantages-section .dots_img {
    max-width: 665px;
    height: 426px;
    top: 170px;
  }
}
@media screen and (max-width: 1450px) {
  .advantages-section {
    margin: 35px 0 0 0;
    min-height: 705px;
  }
  .advantages-section .dots_img {
    max-width: 590px;
    height: 378px;
    top: 196px;
  }
  .solutions-section .explore-solutions-content .solution-box_icon p {
    font-size: 16px;
    line-height: 18px;
  }
}
@media screen and (max-width: 1178px) {
  .advantages-section .advantages_content-icons {
    margin: 50px 0 0 0;
  }
  .advantages-section .dots_img {
    max-width: 489px;
    height: 313px;
    top: 256px;
  }
}
@media screen and (max-width: 991px) {
  .solutions-section h1 {
    font-size: 32px;
    line-height: 36px;
    text-align: center;
  }
  .solutions-section p {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  .solutions-section p strong {
    font-weight: 600;
  }
  .solutions-section .explore-solutions-content {
    padding: 60px 0 0 0;
  }
  .solutions-section .explore-solutions-content .mobile-solutions-content h2 {
    text-align: center;
    margin: 0 0 40px 0;
  }
  .solutions-section
    .explore-solutions-content
    .mobile-solutions-content
    h2:before {
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .solutions-section
    .explore-solutions-content
    .mobile-solutions-content
    .box-mobile-solucoes {
    text-align: center;
    margin-bottom: 40px;
  }
  .solutions-section
    .explore-solutions-content
    .mobile-solutions-content
    .box-mobile-solucoes
    h3 {
    color: #ec6d1f;
    text-align: center;
    padding: 5px 0 7px 0;
    font-family: jaf-domus-titling-web;
    background-color: #faf5ef;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    max-width: 400px;
    width: 100%;
    display: inline-block;
  }
  .solutions-section
    .explore-solutions-content
    .mobile-solutions-content
    .box-mobile-solucoes
    h4 {
    margin: 10px 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    text-align: center;
    color: #6e6e6e;
  }
  .solutions-section
    .explore-solutions-content
    .mobile-solutions-content
    .box-mobile-solucoes
    p {
    font-size: 16x;
    line-height: 22px;
    text-align: center;
  }
  .solutions-section
    .explore-solutions-content
    .mobile-solutions-content
    .box-mobile-solucoes
    p
    strong {
    font-weight: 600;
  }
  .advantages-section {
    margin: 0;
    padding: 0;
  }
  .advantages-section .dots_img {
    margin: 0 auto 60px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
  }
  .advantages-section h2 {
    text-align: center;
  }
  .advantages-section h2:before {
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .advantages-section P {
    margin: 25px 0 0 0;
    text-align: center;
  }
  .advantages-section .icon-engajamento,
  .advantages-section .icon-produtividades {
    margin: 40px 0 0 0;
  }
  .advantages-section .btn--deal {
    margin: 45px 0 60px 0;
  }
}
@media screen and (max-width: 575px) {
  .solutions-section h1 {
    font-size: 26px;
    line-height: 30px;
  }
  .solutions-section .explore-solutions-content .mobile-solutions-content h2 {
    font-size: 30px;
    line-height: 34px;
  }
  .advantages-section h2 {
    font-size: 30px;
    line-height: 34px;
  }
}
