---
---
$baseurl: "{{ site.baseurl }}";

a,
body,
center,
div,
em,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
img,
p,
section,
span,
strong {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
a img {
  border: none;
}
section {
  display: block;
}
body,
html {
  font-family: jaf-domus;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.align-items-center {
  outline: 0;
}
.box-shadow {
  -webkit-box-shadow: 0 2px 13px -3px #6d6d6dbf;
  -moz-box-shadow: 0 2px 13px -3px #6d6d6dbf;
  box-shadow: 0 2px 13px -3px #6d6d6dbf;
}
.border-radius-13 {
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
}
.pt-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.mt-40 {
  margin-top: 40px;
}
.border-radius-left-gray {
  border-left: 1px solid #ccc;
  padding-top: 15px;
  padding-bottom: 15px;
}
@-webkit-keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.line {
  margin: 35px auto;
  padding: 0;
  width: 100%;
  max-width: 998px;
  border-bottom: 1px solid #d9d9d9;
  display: inline-block;
  position: relative;
}
.line:before {
  content: "";
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
  display: block;
  background-image: url($baseurl + "/assets/img/icons/caret_down.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn--primary {
  margin: 15px 0 0 0;
  padding: 15px 0 11px 0;
  background-color: #ff8200;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  display: block;
  text-align: center;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  width: 100%;
  max-width: 170px;
  height: auto;
  line-height: inherit;
  outline: 0;
}
.btn--primary:hover {
  background-color: #f6932d;
  color: #fff;
}
.solutions-section {
  margin: 0;
  padding: 90px 0 0 0;
  position: relative;
  display: block;
  text-align: center;
}
.solutions-section h1 {
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 32px;
  line-height: 36px;
  color: #00c89b;
  text-align: left;
  font-weight: 600;
  max-width: 900px;
  width: 100%;
}
.solutions-section p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: #6e6e6e;
  text-align: left;
  font-weight: 400;
}
.solutions-section .explore-solutions-content {
  margin: 0;
  padding: 85px 0 30px 0;
  position: relative;
  display: block;
}
.solutions-section .explore-solutions-content h2 {
  margin: 0;
  padding: 0;
  font-size: 34px;
  line-height: 36px;
  color: #8e34ab;
  font-weight: 900;
  text-align: left;
  position: relative;
}
.solutions-section .explore-solutions-content h2:before {
  content: "";
  margin: 0;
  padding: 0;
  border-top: 10px solid #8e34ab;
  position: absolute;
  top: -20px;
  display: block;
  width: 78px;
}
.solutions-section .explore-solutions-content .solution-box_icon {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  text-align: center;
  min-height: 159px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.solutions-section .explore-solutions-content .solution-box_icon.active {
  -webkit-box-shadow: 0 2px 13px -3px #6d6d6dbf;
  -moz-box-shadow: 0 2px 13px -3px #6d6d6dbf;
  box-shadow: 0 2px 13px -3px #6d6d6dbf;
  background-color: #fff;
}
.solutions-section .explore-solutions-content .solution-box_icon.active .icon {
  background-position: 0 0;
}
.solutions-section .explore-solutions-content .solution-box_icon.active p {
  color: #ec6d1f;
}
.solutions-section .explore-solutions-content .solution-box_icon .link-tab {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 22;
}
.solutions-section .explore-solutions-content .solution-box_icon .icon {
  padding: 0;
  position: relative;
  display: inline-block;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.solutions-section
  .explore-solutions-content
  .solution-box_icon
  .icon_search-weather {
  margin: 0;
  background-image: url($baseurl + "/assets/img/icons/weather_search.png");
  background-position: 0 -45px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 65px;
  height: 45px;
}
.solutions-section
  .explore-solutions-content
  .solution-box_icon
  .icon_online-points {
  margin: 0;
  background-image: url($baseurl + "/assets/img/icons/online_points.png");
  background-position: 0 -60px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 48px;
  height: 60px;
}
.solutions-section
  .explore-solutions-content
  .solution-box_icon
  .icon_coorp-social-media {
  margin: 0;
  background-image: url($baseurl + "/assets/img/icons/coorp_social-media.png");
  background-position: 0 -50px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 59px;
  height: 50px;
}
.solutions-section
  .explore-solutions-content
  .solution-box_icon
  .icon_digital-approval {
  margin: 0;
  background-image: url($baseurl + "/assets/img/icons/digital_approval.png");
  background-position: 0 -60px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 38px;
  height: 60px;
}
.solutions-section .explore-solutions-content .solution-box_icon p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  color: #6e6e6e;
  text-align: center;
  position: relative;
  font-weight: 600;
  font-family: jaf-domus-titling-web;
}
.solutions-section .explore-solutions-content .content-box-tabs {
  margin: 30px 0 0 0;
  padding: 20px;
  display: block;
  text-align: center;
}
.solutions-section
  .explore-solutions-content
  .content-box-tabs
  .container-box-tabs-info {
  display: none;
}
.solutions-section
  .explore-solutions-content
  .content-box-tabs
  .container-box-tabs-info.active {
  display: flex;
}
.solutions-section
  .explore-solutions-content
  .content-box-tabs
  .container-box-tabs-info.active
  .btn--primary,
.solutions-section
  .explore-solutions-content
  .content-box-tabs
  .container-box-tabs-info.active
  h3,
.solutions-section
  .explore-solutions-content
  .content-box-tabs
  .container-box-tabs-info.active
  h4,
.solutions-section
  .explore-solutions-content
  .content-box-tabs
  .container-box-tabs-info.active
  img,
.solutions-section
  .explore-solutions-content
  .content-box-tabs
  .container-box-tabs-info.active
  p {
  -webkit-animation: fadeInAnimation 2s;
  -moz-animation: fadeInAnimation 2s;
  -o-animation: fadeInAnimation 2s;
  animation: fadeInAnimation 2s;
}
.solutions-section .explore-solutions-content .content-box-tabs img {
  max-width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.solutions-section .explore-solutions-content .content-box-tabs h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 900;
  color: #6e6e6e;
  text-align: center;
}
.solutions-section .explore-solutions-content .content-box-tabs h4 {
  margin: 0;
  padding: 0;
  font-size: 26px;
  line-height: 28px;
  font-weight: 900;
  color: #00c89b;
  text-align: left;
}
.solutions-section .explore-solutions-content .content-box-tabs p {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #6e6e6e;
  text-align: left;
}
.solutions-section .explore-solutions-content .content-box-tabs p strong {
  font-weight: 600;
}
.advantages-section {
  margin: 80px 0 0 0;
  padding: 40px 0 0 0;
  position: relative;
  display: block;
  width: 100%;
  min-height: 800px;
}
.advantages-section .dots_img {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  right: 0;
  top: 100px;
  width: 100%;
  max-width: 921px;
  height: 590px;
  background-image: url($baseurl + "/assets/img/icons/laptop.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.advantages-section h2 {
  margin: 0;
  padding: 0;
  font-size: 34px;
  line-height: 36px;
  color: #00c89b;
  font-weight: 900;
  text-align: left;
  position: relative;
}
.advantages-section h2:before {
  content: "";
  margin: 0;
  padding: 0;
  border-top: 10px solid #00c89b;
  position: absolute;
  top: -20px;
  display: block;
  width: 78px;
}
.advantages-section p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  color: #6e6e6e;
  font-weight: 900;
  text-align: left;
  position: relative;
}
.advantages-section .btn--deal {
  margin: 0;
  padding: 12px 35px 14px 35px;
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  font-family: jaf-domus-titling-web;
  border: none;
  background: #ee7d16;
  background: -moz-linear-gradient(90deg, #ee7d16 0, #eb5b29 100%);
  background: -webkit-linear-gradient(90deg, #ee7d16 0, #eb5b29 100%);
  background: linear-gradient(90deg, #ee7d16 0, #eb5b29 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  text-decoration: none;
}
.advantages-section .btn--deal:hover {
  background: #ee7c16;
  background: -moz-linear-gradient(90deg, #eb5c28 0, #ee7c16 100%);
  background: -webkit-linear-gradient(90deg, #eb5c28 0, #ee7c16 100%);
  background: linear-gradient(90deg, #eb5c28 0, #ee7c16 100%);
  color: #fff;
  text-decoration: none;
}
.advantages-section .advantages_content-icons {
  margin: 80px 0 0 0;
  padding: 0;
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
}
.advantages-section .advantages_content-icons img {
  max-width: 100%;
  display: inline-block;
}
.advantages-section .advantages_content-icons h3 {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 26px;
  line-height: 28px;
  color: #6e6e6e;
  font-weight: 900;
  text-align: center;
  position: relative;
}
.advantages-section .advantages_content-icons p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: #6e6e6e;
  font-weight: 400;
  text-align: center;
  position: relative;
}
