<!DOCTYPE html>
<html lang="pt-br">

  {% include head.html %}

  <body>

    <div class="container">
      {{ content }}
    </div>

    <script src="{{ site.baseurl}}/assets/js/jquery.min.js"></script>
    <script src='{{ site.baseurl}}/assets/js/main.js'></script>
  </body>
</html>
